.wrapper{

}

.layer {

}

.header {

}
.logo {
	float: left;
}
.logo img {
	width: 60px;
	height: 60px;
}
.title {
	float: left;
	margin-left: 15px;
}
.account-actions {
	float: right;
	margin-top: 40px;
}

.content {
	background-color: #CCC;
	padding: 10px;
}
.footer {
	background-color: #CCC;
	text-align: center;
	padding: 10px;
}
